.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.menu-item {
    text-align: center;
    width: 300px;
    height: 350px;
    border: 3px solid white;
    border-radius: 12px;
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 12px 1px grey;
    font-size: 20px;
    color: white;
    background-color: cadetblue;

}

.image {
    height: 140px;
    width: 200px;
    border-radius: 20px;
    border: 3px solid white;
}

.item-info {
    margin: -15px;
}

.price {
    display: flex;
    justify-content: center;
    margin: -15px;
}

.item-desc {
    font-size: 18px;
    padding: 10px;
}

.remove-button {
    background-color: white;
    border-color: transparent;
    border-radius: 5px;
    color: red;
    font-size: 15px;
}

.remove-button:hover{
    cursor: pointer;
    transform: scale(1.2);
}
