 main {
  background-color: palegoldenrod;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 55px;
  text-decoration: none;
  padding: 40px;
  margin-bottom: 20px;
  background-color: cadetblue;
}

.home-link, .add-link {
  text-decoration: none;
  color: white;
}

.home-link:hover, .add-link:hover {
 color: black;
}

@media only screen and (max-width: 767px) {
  .nav-bar {
    font-size: 30px;
  }
}